@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.background {
		@apply w-screen h-screen bg-slate-200 fixed top-0 left-0 -z-50;
	}
}

input[type="search"]::-webkit-search-cancel-button {
	-webkit-appearance: none;
	height: 1em;
	width: 1em;
	border-radius: 50em;
	background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg)
		no-repeat 50% 50%;
	background-size: contain;
	pointer-events: none;
}
